---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Seccion from '../components/Seccion.astro';
import Categorias from '../components/Categorias.astro';
import Forsale from '../components/ForSale.astro';
import Footer from '../components/footer.astro';
import New from '../components/New.astro';
import Productos from '../components/Productos.astro';
import WelcomePopup from '../components/WelcomePopup.astro';
import '../styles/global.css';

const response = await fetch('http://localhost:3000/api/productos');

if (!response.ok) {
  console.error('Error al obtener productos:', response.statusText);
  const errorText = await response.text(); // Captura el texto del error
  throw new Error(`Error al obtener productos: ${errorText}`);
}

const products = response.ok ? await response.json() : [];

const bannersResponse = await fetch('http://localhost:3000/api/banners');

if (!bannersResponse.ok) {
  console.error('Error al obtener banners:', bannersResponse.statusText);
  throw new Error(`Error al obtener banners: ${await bannersResponse.text()}`);
}

const banners = await bannersResponse.json();
---

<Layout title="MYU WEB">
        <style>
            body {
                margin: 0;
                background-color: #e7e4e4;
            }
            /* Agregamos padding al body en pantallas móviles */
            @media (max-width: 768px) {
                main {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        </style>
        <WelcomePopup />
        <Header />
        <br>
        <br>    
        <Seccion banners={banners} />
        <main>
        <Categorias />
        <Forsale products={products} />
        <br>
        <New products={products} />
        <br>
        <Productos products={products} />      
        </main>
        <Footer />
</Layout>
