---
// Importar el componente Card y obtener datos dinámicos
import Card from "./Card.astro";

interface Product {
  id: number;
  name: string;
  description: string;
  price: number;
  image: string;
}

let products: Product[] = []; // Aplicar el tipado aquí
try {
  const response = await fetch('http://localhost:3000/api/products');
  products = await response.json();
} catch (err) {
  console.error(err);
}
---

<style>
  .container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .product-grid {
    display: grid;
    gap: 1rem;
  }

  .section-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f6bbd0;
    color: white;
    padding: 0.75rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 767px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
</style>

<body>
  <h2 class="section-title">PRODUCTOS</h2>
  <div class="container">
    <section class="product-grid">
      {products.map((product: Product) => (
        <div class="card">
          <img src={product.image} alt={product.name} />
          <h3>{product.name}</h3>
          <p>{product.description}</p>
          <span>{product.price}</span>
        </div>
      ))}
    </section>
  </div>
</body>
