---
interface Banner {
  id_banner: number;
  tipo: string;
  img1: string;
  img2: string;
  img3: string;
  img1cell: string;
  img2cell: string;
  img3cell: string;
}

const { banners = [] }: { banners?: Banner[] } = Astro.props;
---

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    .swiper-wrapper {
      width: 100%;
      padding-top: 56px;
      height: max-content !important;
      transition-timing-function: linear !important;
      position: relative;
    }

    body {
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }

    .swiper-slide img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .swiper-pagination {
      bottom: 0px !important;
      top: auto !important;
      width: 10px !important;
      right: 0;
      left: auto !important;
      background-color: #f3f4f6;
    }

    /* Oculta la clase .large en pantallas grandes y muestra .small */
    @media (min-width: 768px) {
    .large {
        display: none;
    }
    .small {
        display: block;
    }
    }

    /* Oculta la clase .small en pantallas pequeñas y muestra .large */
    @media (max-width: 767px) {
    .small {
        display: none;
    }
    .large {
        display: block;
    }
    }

  </style>
</head>

<body>
  <div class="swiper progress-slide-carousel">
    <div class="swiper-wrapper">
      {banners.length > 0 ? (
        banners
          .filter((banner) => banner.id_banner === 1)
          .map((banner) => (
          <div class="swiper-slide">
              <a href={banner.img1cell} target="_blank" rel="noopener noreferrer">
                <img class="small" src={banner.img1} alt={`Banner ${banner.id_banner} small`} />
                <img class="large" src={banner.img2} alt={`Banner ${banner.id_banner} large`} />
              </a>
            </div>
          ))
      ) : (
        <p class="text-center">No hay banners disponibles.</p>
      )}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</body>


  <script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';
    new Swiper(".progress-slide-carousel", {
      loop: true,
      autoplay: {
        delay: 5500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        type: "progressbar",
      },
    });
  </script>
</body>
